@model IEnumerable<SG_Proyect.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre Producto 
        </th>
        <th>
           Descripcion
        </th>
        <th>
          Precio
        </th>
        <th>
            Cantidad Disponible
        </th>
      
        <th>
            Tipo del producto
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Producto.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_producto }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_producto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_producto })
        </td>
    </tr>
}

</table>
